.ui-button-lorange,
.ui-button-morange,
.ui-button-sorange {
    border:1px solid #F67600;
    color:#fff;

    background-color: #F5AA2B;    
    background: -webkit-gradient(linear, left top, left bottom, from(#FFA600), to(#FE9200));
    background: -moz-linear-gradient(top, #FFA600, #FE9200);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA600', endColorstr='#FE9200');
    background:-o-linear-gradient(top, #FFA600, #FE9200);
    background: linear-gradient(top, #FFA600, #FE9200);
    box-shadow: 0 -2px 3px rgba(255, 255, 255, 0.4) inset;
}

.ui-button-lorange:hover,
.ui-button-morange:hover,
.ui-button-sorange:hover {
    border: 1px solid #F26600;
    background-color: #F5AA2B;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFB91C), to(#FFA700));
    background: -moz-linear-gradient(top, #FFB91C, #FFA700);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFB91C', endColorstr='#FFA700');
    background:-o-linear-gradient(top, #FFB91C, #FFA700);
    background: linear-gradient(top, #FFB91C, #FFA700);
    box-shadow: 0 -2px 2px rgba(255, 255, 255, 0.4) inset;
}

a.ui-button-lorange,
a.ui-button-morange,
a.ui-button-sorange {
    color:#fff;    
}
.ui-button-lorange {
    line-height:33px;
    height:33px;
}

.ui-button-morange {
    line-height:29px;
    height:29px;
}

.ui-button-sorange {
    padding: 0 12px;
    line-height:23px;
    height:23px;
    font-size:12px;
}
