.ui-button-ldisable,
.ui-button-mdisable,
.ui-button-sdisable {
    color:#999;    
    border: none;
    background: #cacccd;
    cursor: default;
}

a.ui-button-ldisable,
a.ui-button-mdisable,
a.ui-button-sdisable,
a.ui-button-ldisable:active,
a.ui-button-mdisable:active,
a.ui-button-sdisable:active,
a.ui-button-ldisable:hover,
a.ui-button-mdisable:hover,
a.ui-button-sdisable:hover {
    color:#999; 
}

.ui-button-ldisable {
    line-height:32px;
    height:32px;
}

.ui-button-mdisable {
    line-height:28px;
    height:28px;
}

.ui-button-sdisable {
    line-height:24px;
    height:24px;
    padding:0 12px;
    font-size:12px;
}

input.ui-button-ldisable,
input.ui-button-mdisable,
input.ui-button-sdisable {
    cursor: default;
}
