.ui-button * {
    margin:0;
    padding:0;
}

.ui-button {
    display: inline-block;
    *display: inline;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-family: verdana, Hiragino Sans GB;
    font-size: 14px;
    font-weight: bold;    
    border-radius: 2px;    
    padding: 0 20px;
    *zoom: 1;
}

.ui-button .ui-button-text {
    background: none;
    padding: 0;
    height: auto;
    line-height: auto;
}

.ui-button:hover {
    text-decoration: none;    
}

input.ui-button-text, button.ui-button-text {
    *vertical-align: top; /* for a ie7 bug */
    font-family: Hiragino Sans GB;
}
