.ui-button-lwhite,
.ui-button-mwhite,
.ui-button-swhite {
    border:1px solid #B3B3B3;
    color:#595959;
    background-color: #F2F2F2;    
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EBEBEB));
    background: -moz-linear-gradient(top, #FFFFFF, #EBEBEB);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EBEBEB');
    background:-o-linear-gradient(top, #FFFFFF, #EBEBEB);
    background: linear-gradient(top, #FFFFFF, #EBEBEB);
    box-shadow: 0 -2px 2px rgba(255, 255, 255, 0.33) inset;
}

.ui-button-lwhite:hover,
.ui-button-mwhite:hover,
.ui-button-swhite:hover {
    border: 1px solid #999;
    background-color: #F6F6F6;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    background: -moz-linear-gradient(top, #FFFFFF, #F0F0F0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F0F0F0');
    background:-o-linear-gradient(top, #FFFFFF, #F0F0F0);
    background: linear-gradient(top, #FFFFFF, #F0F0F0);
}

a.ui-button-lwhite,
a.ui-button-mwhite,
a.ui-button-swhite,
a.ui-button-lwhite:active,
a.ui-button-mwhite:active,
a.ui-button-swhite:active,
a.ui-button-lwhite:hover,
a.ui-button-mwhite:hover,
a.ui-button-swhite:hover {
    color:#595959;    
}

.ui-button-lwhite {
    line-height:33px;
    height:33px;
}

.ui-button-mwhite {
    line-height:29px;
    height:29px;
}

.ui-button-swhite {
    line-height:23px;
    height:23px;
    padding:0 12px;
    font-size:12px;
}
