.ui-button-ldisable,
.ui-button-mdisable,
.ui-button-sdisable {
    color:#999;    
    border: 1px solid #cacccd;;
    background: #cacccd;
    cursor: default;
}

a.ui-button-ldisable,
a.ui-button-mdisable,
a.ui-button-sdisable,
a.ui-button-ldisable:hover,
a.ui-button-mdisable:hover,
a.ui-button-sdisable:hover,
.ui-button-ldisable:active,
.ui-button-mdisable:active,
.ui-button-sdisable:active,
.ui-button-ldisable:hover,
.ui-button-mdisable:hover,
.ui-button-sdisable:hover {
    color:#999; 
    background: #cacccd;
}

.ui-button-ldisable {
    height:32px;
}

.ui-button-mdisable {
    height:28px;
}

.ui-button-sdisable {
    height:24px;
    padding:0 12px;
    font-size:12px;
}

a.ui-button-ldisable {
    line-height:30px;
    height:30px;
}

a.ui-button-mdisable {
    line-height:26px;
    height:26px;
}

a.ui-button-sdisable {
    line-height:22px;
    height:22px;
}
.ui-button-ldisable,
.ui-button-mdisable,
.ui-button-sdisable {
    cursor: default!important;
}

.ui-button-ldisable:active,
.ui-button-mdisable:active,
.ui-button-sdisable:active {
    position: static;
    top: 0;
    box-shadow: none;
}
